<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 style="text-align:center; margin:20px 0 10px 0;">Pick your music preferences.</h2>
      <div class="checkbox-choices">
        <%= simple_form_for current_user do |f| %>
        <%= f.collection_check_boxes :tag_list, User::GENRES, :to_s, :to_s do |b| %>
          <%= b.check_box %>
          <%= b.label(class: "collection_check_boxes") do %>
            <img src="/assets/<%= b.value %>.png" style="height:60px;" alt="<%= b.value %>">
            <p><%= b.value %></p>
          <% end %>
        <% end %>
      </div>
      <div style="text-align:center;"> <%= f.submit "Save", class: "button-form"%> </div>
      <% end %>
    </div>
  </div>
</div>
